# Ignore Python cache
__pycache__/
models/__pycache__/

# Ignore checkpoints and training outputs
checkpoints/

# Ignore all WandB logs
wandb/

# Ignore data directories
AlexNet/__pycache__/
AlexNet/data/
data/
depGraph/data/

# Ignore specific large files
*.ckpt
*.pth
*.tar.gz
cifar-10-batches-py/

# Ignore Git temporary files
.git/objects/
